.testimonial-group > .row {
    overflow-x: auto;
    white-space: nowrap;
}
.testimonial-group > .row > .col-sm-4 {
display: inline-block;
float: none;
}

.sports {
    background-color: lightblue;
}

.personal {
    background-color: lightgreen;
}

.entertainment {
    background-color: lightcoral;
}

.card {
    overflow: scroll;
}
